<div data-role="header">
  <h1>Devices</h1>
</div>

<div role="main" class="ui-content">
  <ul data-role="listview">
    <% @devices.each do |device| %>
      <li>
        <%= link_to device_path(device) do %>
          <img src="http://placehold.it/160x160">
          <h2>
            <%= device.name %>
          </h2>
          <p>
            <%= device.device_type.name %>
            <%= device.ip_address %>
          </p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
